body {
    --shade: 85%;
    background-color: hsl(0, 0%, var(--shade));
}

p {
    font-family: Verdana, sans-serif;
    color: hsl(0, 0%, 5%);
    text-align: center;
    font-size: 3em;
}
